.howtouse-section {
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-color: white;
  margin-top: 2rem;
  padding: 2rem;
}

.howtouse-title,
.howtouse-subtitle {
  padding: 0 13rem;
  color: #020023;
  text-align: left;
  font-weight: bold;
}

.howtouse-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  margin-bottom: 1rem;
}

.howtouse-subtitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.orange-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: orange;
  border-radius: 50%;
}

.howtouse-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 13rem;
}

.howtouse-item {
  flex-basis: 60%;
  max-width: 60%;
}

.search-bar-with-info {
  flex-basis: 35%;
  max-width: 35%;
  margin-left: 2.5rem;
}

.search-bar-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 4rem;
  margin-bottom: 2rem;
  flex-grow: 1;
}

.search-icon {
  position: absolute;
  left: 1rem;
  pointer-events: none;
  color: black;
  font-size: 16px;
  z-index: 10;
}

.search-bar {
  padding: 1.5rem 3rem 1.5rem 3rem;
  background-color: #e9e9e9;
  color: black;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  height: 40px;
  width: 100%;
}

.info-box-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-box,
.additional-info-box {
  border: 1px solid #e9e9e9;
  padding: 2rem;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 85%;
  margin-left: 4rem;
}

.info-box-title {
  font-size: 24px;
  margin-bottom: 2rem;
  position: relative;
  display: block;
}

.info-box-title::after {
  content: '';
  display: block;
  width: 18%;
  height: 2px;
  background: currentColor;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.info-box-subtitle {
  font-size: 16px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.info-box-text {
  font-size: 14px;
  margin-bottom: 1rem;
}

.gray-text {
  color: gray;
}

.howtouse-text-content,
.howtouse-content1,
.howtouse-content2 {
  max-width: 750px;
  margin-bottom: 1rem;
}

.howtouse-content1 {
  margin-top: -25rem;
}

.howtouse-item img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.howtouse-quote {
  font-size: 30px;
  font-weight: bolder;
  color: #020023;
  text-align: justify;
  width: 600px;
  font-style: oblique;
}

.tags-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding-left: 13rem;
}

.tag {
  padding: 0.5rem 2rem;
  background-color: rgb(231, 231, 231);
  color: black;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tag:hover {
  background-color: #acacac;
}